# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Notebooks checkpoints
.ipynb_checkpoints/

# Environment
venv/

# VSCode/IDE files
.vscode/
.idea/

# Jupyter runtime files
.local/
.jupyter/

assets/best_model.pkl
